In [1]:
import pandas as pd

In [2]:
data = {
    "Name" : ["Lisa", "Jennie", "Jisoo", "Rosanne"],
    "Age" : [28, 29, 30, 28],
    "City" : ["Paris", "Korea", "Paris", "Australia"]
}

df = pd.DataFrame(data)
print(df)

      Name  Age       City
0     Lisa   28      Paris
1   Jennie   29      Korea
2    Jisoo   30      Paris
3  Rosanne   28  Australia

In [3]:
print(df["Name"])

0       Lisa
1     Jennie
2      Jisoo
3    Rosanne
Name: Name, dtype: object

In [4]:
print(df[["Name", "Age"]])

      Name  Age
0     Lisa   28
1   Jennie   29
2    Jisoo   30
3  Rosanne   28

In [5]:
print(df.iloc[0])

Name     Lisa
Age        28
City    Paris
Name: 0, dtype: object

In [6]:
keypari = df[(df["City"] == "Paris")]

In [7]:
print(keypari)

    Name  Age   City
0   Lisa   28  Paris
2  Jisoo   30  Paris

In [8]:
keyparis = df[(df["City"] == "Paris") & (df["Age"] > 28) ]
print(keyparis)

    Name  Age   City
2  Jisoo   30  Paris

In [9]:
cities = df[df["City"].isin(["Paris", "Korea"])]

In [10]:
print(cities)

     Name  Age   City
0    Lisa   28  Paris
1  Jennie   29  Korea
2   Jisoo   30  Paris

In [12]:
cities.to_csv("cities.csv")