In [1]:
%load_ext sql

In [2]:
%sql sqlite:///sf-food-inspections-lives.sqlite

In [3]:
%%sql
SELECT * FROM sqlite_schema;

 * sqlite:///sf-food-inspections-lives.sqlite
Done.

[('table', 'inspection_records', 'inspection_records', 2, 'CREATE TABLE inspection_records (\n\tbusiness_id INTEGER NOT NULL, \n\tbusiness_name VARCHAR(64) NOT NULL, \n\tbusiness_address VARCHAR(50), \n\tbusi ... (301 characters truncated) ... EGER, \n\tinspection_type VARCHAR(33) NOT NULL, \n\tviolation_id VARCHAR(21), \n\tviolation_description VARCHAR(73), \n\trisk_category VARCHAR(13)\n)'),
 ('index', 'business_id_idx', 'inspection_records', 11261, 'CREATE INDEX "business_id_idx" ON inspection_records(business_id)'),
 ('index', 'business_name_idx', 'inspection_records', 11842, 'CREATE INDEX "business_name_idx" ON inspection_records(business_name)'),
 ('index', 'inspection_date_idx', 'inspection_records', 13225, 'CREATE INDEX "inspection_date_idx" ON inspection_records(inspection_date)'),
 ('index', 'inspection_score_idx', 'inspection_records', 14203, 'CREATE INDEX "inspection_score_idx" ON inspection_records(inspection_score)'),
 ('index', 'violation_id_idx', 'inspection_records', 14690, 'CREATE INDEX "violation_id_idx" ON inspection_records(violation_id)')]

In [4]:
%%sql
SELECT COUNT(*) FROM inspection_records

 * sqlite:///sf-food-inspections-lives.sqlite
Done.

[(53234,)]